name: Publish Docker image
on: [push, workflow_dispatch]

jobs:
  push_to_registry:
    name: Push Docker image to GitHub Packages
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Moving build to artifacts directory
        run: chmod +x ./ghcr-upload.sh
      - name: Deploy Release image to GitHub Container Registry
        env: 
          TRIGO_PACKAGE_ACCESS_TOKEN: ${{ secrets.TRIGO_PACKAGE_ACCESS_TOKEN }}
        shell: bash
        run: ./ghcr-upload.sh